*{
    box-sizing: border-box;
}


.dataWrapper {
    display: grid;
    grid-template-columns: 60% 40%;
    grid-template-rows: 2% 49% 49%;
    gap: 10px;
    justify-items: stretch;
    grid-template-areas: 
        "header header"
        "bubbleChart diagrammTop"
        "bubbleChart diagrammBottom";
    margin-left: 10px;
    margin-right: 10px;
}

.header{
    grid-area: header;
}

.bubbleChartItem {
    text-align: center;
    max-height: auto;
    border-radius: 22px;
    background-color: #1b2636;
    padding: 10px;
    grid-area: bubbleChart;
}

.diagrammItemTop{
    width: 100%;
    height: 100%;
    padding: 15px;
    /*background-color: #f3f4ff;*/
    background-color: #1b2636;
    border-radius: 25px;
    grid-area: diagrammTop;
    text-align: center;
    align-self: stretch;


}
.diagrammItemBottom{
    width: 100%;
    height: 100%;
    padding: 15px;
    /*background-color: #f3f4ff;*/
    background-color: #1b2636;
    border-radius: 25px;
    grid-area: diagrammBottom;
    text-align: center;
    align-self: stretch;

}

body {
    font-family: 'Microsoft JhengHei', Verdana, sans-serif; /*font-family: 'Open Sans', sans-serif; oder Tahoma*/
    background:  #39475c; /*#1b2636 */ /*background: #293950;*/
}

h1 {
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    color: #DBDBDB;
    padding: 3px;
    border-radius: 12px;
    background-color: #1b2636;
}


div#slider {
      height: auto;
      width: auto;
      max-height: 270px;
      max-width: 300px;
      margin-left: auto;
      margin-right: auto;
}

svg#sliderContainer{
    width: 100%;
    height: 300px;
    margin: 0 auto;
    background-color: #1b2636;
    
}

div#bubbles {
      width: auto;
      height: auto;
      max-width: 960px;
      max-height: 700px;
      margin-left: auto;
      margin-right: auto;
}


svg {
    /*Do not delete*/
    width: 100%;
    height: 100%;
}

.bar {
    fill: #1e81b0; /*old: #2b59d8; orange: #e28743*/
}

line {
    /*Diagonal lines of diagrams*/
    stroke: gray;
    stroke-width: 1;
    opacity: 0.4;
}

line#limit {
    stroke: #DBDBDB; /* #ff0000;*/
    stroke-width: 3;
    stroke-dasharray: 3 6;
}

.grid path {
    stroke-width: 0;
}

.tick_Scales .tick{
    /*Tick-Settings of the chart (X & Y-Scale!).*/
    stroke-width: 0;
    font-size: 14px;
    color: #FFFFFF;
    opacity: 0.5;
}

.tick_Scales_lineDiagram .tick{
    /*Tick-Settings of the chart (X & Y-Scale!).*/
    stroke-width: 0;
    font-size: 14px;
    color: #FFFFFF;
    opacity: 0.5;
}

text.divergence {
    /*Difference in bars.*/
    font-size: 18px;
    fill: #FFFFFF; /*#000000;*/
}

text.value {
    /*Values on bars.*/
    font-size: 18px;
    fill: #ffffff
}

text.title {
    /*Title of the chart.*/
    font-size: 20px;
    font-weight: 600;
    fill: #DBDBDB;
}

text.label {
    /*Label of the X/Y-Scale.*/
    font-size: 14px;
    font-weight: 500;
    fill: #FFFFFF;
    opacity: 0.7;
}

text.source {
    /*Text of the Source.*/
    font-size: 14px;
    font-style: italic;
    fill: #DBDBDB;
    opacity: 0.7;
}


/* Slider */
.circumference{
    fill: #fff;
    stroke: #d4d4d4;
    stroke-width: 15px;
    opacity: 0.6;
}

.handle circle:hover{
    cursor: pointer;
}

.handle circle{
    fill: darkgrey;
    stroke: black;
    stroke-width: 3px;
}

.handle circle.dragging{
    fill: grey;
    stroke: black;
}

.tick{
    stroke-width: 5;
    stroke: white;
    fill: white;
    border-radius: 5px;
}

/* text of slider*/
#monthLable{
    text-anchor: middle;
    font-size: 19px;
    fill: white;
}

#yearLable{
    text-anchor: middle;
    font-size: 14px;
    fill: white;
}

#casesLable{
    font-size: 12px;
    fill: white;
}

#casesNumbers{
    font-size: 25px;
    fill: white
}

#lockdownIndicator{
    font-size: 10px;
    fill: white;
}


@media only screen and (max-width: 1000px) {
    .dataWrapper {
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: 5% 1fr 600px 600px;
        gap: 1em;
        justify-items: stretch;
        grid-template-areas: 
            "header "
            "bubbleChart"
            "diagrammTop"
            "diagrammBottom";
        padding: 10px;
        margin-left: 10px;
        margin-right: 10px;
    }

    .bubbleChartItem {
        grid-area: bubbleChart;
    
    }
    .diagrammItemTop {
        grid-area: diagrammTop;
        width: 100%;
        height: 100%;
        /*background-color: #f3f4ff;*/
        background-color: #1b2636;
        border-radius: 25px;
        grid-area: diagrammTop;
        text-align: center;
        max-height: 1200px;
      
    }
    .diagrammItemBottom {
        width: 100%;
        grid-area: diagrammBottom;
    }
  }
