body {
    font-family: 'Open Sans', sans-serif;
}

div#diagrammContainer {
    text-align: center;
}

div#upperDiagramm {
    width: 1000px;
    height: 600px;
    margin: auto;
    background-color: #f3f4ff;
}

svg {
    width: 100%;
    height: 100%;
}

.bar {
    fill: #2b59d8;
}

.title {
    font-size: 14px;
    fill: #000000;
}

.lable {
    font-size: 20px;
    fill: #000000;
}

path {
    stroke: #000000;
    stroke-width: 1;
}

line {
    stroke: gray;
    stroke-width: 1;
}

line#limit {
    stroke: #ff0000;
    stroke-width: 3;
    stroke-dasharray: 3 6;
}

.grid path {
    stroke-width: 0;
}

.grid .tick {
    stroke: #2f2f2f;
    stroke-opacity: 0.5;
    stroke-width: 1;
}


text.divergence {
    font-size: 18px;
    fill: #000000;
}

text.value {
    font-size: 18px;
}

text.title {
    font-size: 22px;
    font-weight: 600;
}

text.label {
    font-size: 16px;
    font-weight: 600;
}

text.source {
    font-size: 14px;
    font-style: italic;
}

.circumference{
    fill: #fff;
    stroke: #d4d4d4;
    stroke-width: 15px;
    opacity: 0.6;
}

.handle circle:hover{
    cursor: pointer;
}

.handle circle{
    fill: darkgrey;
    stroke: black;
    stroke-width: 2px;
}

.handle circle.dragging{
    fill: grey;
    stroke: black;
}

.tick{
    stroke-width: 4;
    stroke: black;
    fill: black;
}

.monthLable{
    font-size: 28px;
}